
@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&family=Young+Serif&display=swap');

body{
    background-color: hsl(217, 54%, 11%);
    
}
.parent{
    /* border: solid 2px red; */
    width: 25%;
    justify-self: center;
    background-color: hsl(216, 50%, 16%);
    padding: 5px;
    margin: 5px;
    border-radius: 10px;
    height: 20%;
    font-family: outfit;
    
}

.equi{
    color: hsl(0, 0%, 100%);
    margin-left: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    
    
}
.equi:hover{
    color: hsl(178, 100%, 50%);
}
.ETH{
    /* border: 2px solid blue; */
    display: flex;
    
    
    
}
.ETH1{
    /* border: 2px solid purple; */
    display: flex;
    margin-bottom: 10px;
}
.ETH2{
    /* border: 2px solid brown; */
    display: flex;
    margin-bottom: 10px;
    margin-left: 35px;
    color: hsl(215, 32%, 27%);  
    
}
.jules{
    /* border: 2px solid black; */
    display: flex;
    margin-left: 2px;
    margin-top: -35px;
    
      
    
}
.card{
    width: 100%;
    /* border: 1px solid red; */
    margin-right: 15px;
    height: 100%;
    /* padding: 20px; */
    border-radius: 10px;
    /* padding-top: 10px; */

    
}
.our{
    margin-left: 20px;
    margin-bottom: 5px;
    color: hsl(215, 32%, 27%);
    font-size: 17px;
    
}
.iconeth{
    width: 10px;
    height: 15px;
    padding: 25px;
    margin-right: 5px;
    
}
.iconclo{
    width: 15px;
    height: 15px;
    padding: 25px;
    padding-left: 60px;

    

}
.jules1{
     width: 28px;
     height: 28px;
     margin-top: 10px;
     border: 1px solid white;
     border-radius: 50%;
     margin: 25px;
}
hr{
    margin: 30px;
    margin-top: -10px;
    border-color: hsl(215, 32%, 27%);
    
}
.h5{
    color: hsl(178, 100%, 50%);
    /* border: 1px solid gold; */
    margin-left: -20px;
    padding-top: 4px; 
     
}
.days{
    /* border: 1px solid orange; */
    margin-right:-20px;
    padding: 8px;
    margin-left: -25px;

}
.creation{
    color: hsl(0, 0%, 100%);
    padding: 15px;
    margin-left: -22px;
    font-size: 14px;
    
}
.creation:hover{
    color: hsl(178, 100%, 50%);
}
span{
    color: hsl(215, 32%, 27%);

}
.card1{
    margin: 10px auto;
    width: 90%;
    position: relative;
    border-radius: 10px;
    cursor: pointer;
}
.eye{
    display: none;
    width: 100%;
    text-align: center;
    transition: .5s ease;
    position: absolute;
    align-content: center;
    top: 50%;
    left: 50%;
    height: 100%;
    transform: translate(-50%, -50%);
    background-color: aquamarine;
}
.card1:hover .eye{
    display: block;
    border-radius: 10px;
    opacity: 0.6;
}






@media screen and (max-width:426px){
    .parent{
        border: 1px solid red;
        width: 80%;
        overflow: hidden;
    }
    /* *{border: 1px solid red; */
   

    
    
}
